.App {
  font-family:monospace;

}

.App-logo {
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-30;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .App-logo {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  font-family:monospace;
}

.linkButton {
  transform: scale(2);
  color: white;
  margin: 0px 25px;
  padding-top: 45px;
  transition: color 0.2s;
}

.linkButton:hover {
  color: #332932;
}

.email{
  font-family:monospace;
font-size: 0.69em;
 border: 2px solid white;
 color: white;
 padding: 0.1em 0.2em;
 transition: color 0.6s;
 text-decoration: none;
}

.email{
  font-family:monospace;
font-size: 0.69em;
 border: 2px solid white;
 color: white;
 padding: 0.1em 0.2em;
}

.email:hover{
  color: #332932;
  background-color: white;
}

.emailCont{
  padding-top: 100px;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .emailCont{
    padding-top: 50px;
  }
}